<!-- superadmin/contact.hbs  -->
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="/superadmin/dashboard">
                        <img src="/assets/logo/mysarafa_logo.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="index.html">Dashboard 1</a>
                            </li>
                            <li>
                                <a href="index2.html">Dashboard 2</a>
                            </li>
                            <li>
                                <a href="index3.html">Dashboard 3</a>
                            </li>
                            <li>
                                <a href="index4.html">Dashboard 4</a>
                            </li>
                        </ul>
                    </li>
                    {{!-- <li>
                        <a href="chart.html">
                            <i class="fas fa-chart-bar"></i>Charts</a>
                    </li> --}}
                    <li>
                        <a href="/superadmin/users">
                            <i class="fas fa-table"></i>Users</a>
                    </li>
                    <li>
                        <a href="form.html">
                            <i class="far fa-check-square"></i>Groups</a>
                    </li>
                    <li>
                        <a href="calendar.html">
                            <i class="fas fa-calendar-alt"></i>KYC</a>
                    </li>
                    {{!-- <li>
                        <a href="map.html">
                            <i class="fas fa-map-marker-alt"></i>Maps</a>
                    </li> --}}
                    {{!-- <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Pages</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                            <li>
                                <a href="register.html">Register</a>
                            </li>
                            <li>
                                <a href="forget-pass.html">Forget Password</a>
                            </li>
                        </ul>
                    </li> --}}
                    {{!-- <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>UI Elements</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="button.html">Button</a>
                            </li>
                            <li>
                                <a href="badge.html">Badges</a>
                            </li>
                            <li>
                                <a href="tab.html">Tabs</a>
                            </li>
                            <li>
                                <a href="card.html">Cards</a>
                            </li>
                            <li>
                                <a href="alert.html">Alerts</a>
                            </li>
                            <li>
                                <a href="progress-bar.html">Progress Bars</a>
                            </li>
                            <li>
                                <a href="modal.html">Modals</a>
                            </li>
                            <li>
                                <a href="switch.html">Switchs</a>
                            </li>
                            <li>
                                <a href="grid.html">Grids</a>
                            </li>
                            <li>
                                <a href="fontawesome.html">Fontawesome Icon</a>
                            </li>
                            <li>
                                <a href="typo.html">Typography</a>
                            </li>
                        </ul>
                    </li> --}}
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    {{> superSidebar}}
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER -->
    <div class="page-container">
      {{> superdesktopheader }}
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <!-- Overview Stats -->
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon"><i class="zmdi zmdi-account-o"></i></div>
                                        <div class="text"><h2>{{totalContacts}}</h2><span>Total Enquiries</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c2">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="icon"><i class="zmdi zmdi-notifications"></i></div>
                                        <div class="text"><h2>{{unreadContacts}}</h2><span>Unread</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more stats if needed -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="title-1 m-b-25">Contact Enquiries</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table id="contactsTable" class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Comment (Snippet)</th>
                                            <th>Date</th>
                                            <th>Read?</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each contacts}}
                                        <tr {{#if (eq read false)}}class="table-warning"{{/if}}> 
                                            <td>{{name}}</td>
                                            <td>{{email}}</td>
                                            <td>{{phone}}</td>
                                            <td>{{#if (gt comment.length 50)}}{{comment.substring 0 50}}...{{else}}{{comment}}{{/if}}</td>
                                            <td>{{formatDate createdAt}}</td>
                                            <td><span class="badge {{#if isread}}bg-success{{else}}bg-danger{{/if}}">{{#if isread}}Yes{{else}}No{{/if}}</span></td>
                                            <td>
                                                <button class="btn btn-sm btn-info view-btn" data-id="{{_id}}" title="View Full"><i class="fas fa-eye"></i></button>
                                                <button class="btn btn-sm btn-success read-btn {{#if isread}}d-none{{/if}}" data-id="{{_id}}">Mark Read</button>
                                                <button class="btn btn-sm btn-danger delete-btn" data-id="{{_id}}">Delete</button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- NEW: View Enquiry Modal -->
                    <div class="modal fade" id="viewModal" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Enquiry Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body" id="contactDetailsBody">
                                    <!-- Populated via JS -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables JS -->

    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js"></script>
    <script src="/socket.io/socket.io.js"></script> <!-- Assume Socket.io client -->

<script>
    const jq = jQuery.noConflict(false);
    jq(document).ready(function () {
        const socket = io(); // Connect to Socket.io
        const table = jq('#contactsTable').DataTable({
            order: [[4, 'desc']] // Sort by date desc
        });

        // Socket: Join superadmin room
        socket.emit('joinRoom', 'superadmin');

        // Socket: Listen for new contact
        //error part
        socket.on('newContact', function (newContact) {
            const rowHtml = `
                <tr class="table-warning">
                    <td>${newContact.name}</td>
                    <td>${newContact.email}</td>
                    <td>${newContact.phone}</td>
                    <td>${newContact.comment.length > 50 ? newContact.comment.substring(0, 50) + '...' : newContact.comment}</td>
                    <td>${new Date(newContact.createdAt).toLocaleString()}</td>
                    <td><span class="badge bg-danger">No</span></td>
                    <td>
                        <button class="btn btn-sm btn-info view-btn" data-id="${newContact._id}"><i class="fas fa-eye"></i></button>
                        <button class="btn btn-sm btn-success read-btn" data-id="${newContact._id}">Mark Read</button>
                        <button class="btn btn-sm btn-danger delete-btn" data-id="${newContact._id}">Delete</button>
                    </td>
                </tr>
            `;
            table.row.add(jq(rowHtml)).draw();
            // Optional: Notification
            alert(`New enquiry from ${newContact.name}!`);
        });

        // View Full Details
        jq(document).on('click', '.view-btn', function () {
            const id = jq(this).data('id');
            if (!id) return;
            jq.ajax({
                url: `/superadmin/contact/${id}`, 
                method: 'GET',
                success: function (data) {
                    if (data.success) {
                        const c = data.contact;
                        const detailsHtml = `
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Contact Info</h6>
                                    <p><strong>Name:</strong> ${c.name}</p>
                                    <p><strong>Email:</strong> ${c.email}</p>
                                    <p><strong>Phone:</strong> ${c.phone}</p>
                                </div>
                                <div class="col-md-12">
                                    <h6>Comment</h6>
                                    <p>${c.comment}</p>
                                </div>
                            </div>
                            <p><strong>Date:</strong> ${new Date(c.createdAt).toLocaleString()}</p>
                        `;
                        jq('#contactDetailsBody').html(detailsHtml);
                        jq('#viewModal').modal('show');
                    }
                },
                error: function () { alert('Error fetching details'); }
            });
        });

        // Mark as Read
        jq(document).on('click', '.read-btn', function () {
            const id = jq(this).data('id');
            if (!id) {
        alert('No ID found');
        return;
    }
    const $btn = jq(this);
    const $row = $btn.closest('tr');
    const $badge = $row.find('.badge'); // Target badge in row
    console.log('Marking read for ID:', id); // Debug
            jq.ajax({
                url: `/superadmin/contact/${id}/read`,
                method: 'POST',
                success: function (data) {
                    if (data.success) {
                // Optional: Update without reload
                $badge.removeClass('bg-danger').addClass('bg-success').text('Yes');
                $row.removeClass('table-warning'); // Remove highlight
                $btn.addClass('d-none'); // Hide button
                alert(data.message);
                } else {
                    alert(data.message || 'Failed to mark read');
                }
                },
                error: function (xhr, status, err) {
            console.error('AJAX Error:', { xhr, status, err }); // Log full error
            alert('Error marking read: ' + (xhr.responseJSON?.message || err || 'Check console'));
             }
            });
        });

        // Delete Contact
        jq(document).on('click', '.delete-btn', function () {
            const id = jq(this).data('id');
            if (!id || !confirm('Delete this enquiry?')) return;
            const row = jq(this).closest('tr');
            jq.ajax({
                url: `/superadmin/contact/${id}`,
                method: 'DELETE',
                success: function (data) {
                    if (data.success) {
                        row.fadeOut(300, function () { jq(this).remove(); });
                        alert(data.message);
                    }
                },
                error: function () { alert('Error deleting'); }
            });
        });
    });
</script>

            <script src="/superadmin-frontend/js/vanilla-utils.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
            <script src="/superadmin-frontend/vendor/perfect-scrollbar/perfect-scrollbar-1.5.6.min.js"></script>
            <script src="/superadmin-frontend/vendor/chartjs/chart.umd.js-4.5.0.min.js"></script>

            <!-- Main JS-->
            <script src="/superadmin-frontend/vendor/bootstrap-5.3.8.bundle.min.js"></script>
            <script src="/superadmin-frontend/js/bootstrap5-init.js"></script>
            <script src="/superadmin-frontend/js/main-vanilla.js"></script>
            <script src="/superadmin-frontend/js/swiper-bundle-11.2.10.min.js"></script>
            <script src="/superadmin-frontend/js/aos.js"></script>
            <script src="/superadmin-frontend/js/modern-plugins.js"></script>

<!-- Your Existing Scripts: Unchanged -->